        .messages
          .message{"data-message_id" => "6251"}
            .message__upper-info
              %p.message__upper-info__talker Suzuki-Nori
              %p.message__upper-info__date 2019/10/07(Mon) 20:13:36
            %p.message__text こんにちは！