.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;

  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }

}