.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;

    &__left-box {
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }

      &__member-list {
        display: flex;
        font-size: 12px;
        color: #999999;

        li+li{
          margin-left: 0.3rem;
        }
      }
    }

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $btn_color;
      position: absolute;
      right: 40px;
    }

    a{
      color: $btn_color;

      &:active,&:hover,&:visited{
        color: $btn_color;
      }

    }
}